.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1; /* Allow this area to grow and fill available space */
}

.canvas-area {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ccc;
  min-height: 80vh; /* This might be redundant now, but harmless */
}
